li.nav-item a {
  color: blueviolet;
  text-transform: uppercase;
  margin: 10px 20px;
}

li.active a{
  font-weight: bold;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navbar-brand {
  color: blueviolet;
  text-transform: uppercase;
  font-weight: bold;
}
