<header class="header">

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Kadam</a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav ml-auto">

      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['']"> главная </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/statistic']"> Статистика </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/users']"> Пользователи </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/apps']"> Приложения </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/meetings']"> Мероприятия </a>
      </li>

    </ul>
  </div>
</nav>
</header>
