<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

  <div role="document" class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="close" type="button" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
        <div class="info-message">
           <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="col-xs-12">
                <label>
                  <span>Дата</span>
                  <input type="text" class="form-control" formControlName="create_date">
                </label>
              </div>

              <div class="col-xs-12">
                <label>
                  <span>Название</span>
                  <input type="text" class="form-control" formControlName="title">
                </label>
              </div>

              <div class="col-xs-12">
                <label>
                  <span>Описание</span>
                  <input type="text" class="form-control" formControlName="description">
                </label>
              </div>

              <div class="col-xs-12">
                <label>
                  <span>Статус</span>
                  <select class="form-control" formControlName="state">
                    <option value="0" selected>Новая</option>
                  </select>
                </label>
              </div>

              <div class="col-xs-12">
                <label>
                  <span>приоритет</span>
                  <select class="form-control" formControlName="priority">
                    <option value="0">Низкий</option>
                    <option value="10">Средний</option>
                    <option value="20">Высокий</option>
                  </select>
                </label>
              </div>

              <div class="col-xs-12">
                <label>
                  <span>оценка</span>
                  <input type="number" class="form-control" formControlName="estimate">
                </label>
              </div>



            <div class="form-group col-xs-6">
              <div class="button btn-white btn-thin" (click)="modal.hide()" aria-label="Close"><span>Скасувати</span></div>
            </div>
            <div class="form-group col-xs-6">
              <input class="button btn-blue form-control" type="submit" value="Добавить"  [disabled]="form.invalid"/>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
