.button {
  width: 200px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  background: #6f42c1;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 13px;
  cursor: pointer;
}

.form-group {
  display: inline-block;
  margin: 20px 0;
}

.form-control:disabled {
  opacity: 0.7;
}
