<div class="container">

  <div class="row">
    <h1> Панель управления данными </h1>

    <div class="table-wrap" *ngIf="isLoaded">

      <table>
        <tr>
          <th>Дата создания</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Статус</th>
          <th>приоритет</th>
          <th></th>
        </tr>
        <tr *ngFor="let event of events">
          <td>{{ event.create_date | date: 'dd.MM.yyyy'}}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.description }}</td>
          <td [ngSwitch]="event.state">
            <div *ngSwitchCase="10">В работе</div>
            <div *ngSwitchCase="20">Закрыта</div>
            <div *ngSwitchCase="30">Отменена</div>
            <div *ngSwitchDefault>Новая</div>
          </td>
          <td [ngSwitch]="event.priority">
            <div class="green" *ngSwitchCase="10">Средний</div>
            <div class="red" *ngSwitchCase="20">Высокий</div>
            <div *ngSwitchDefault>Низкий</div>
          </td>
          <td (click)="delete(modalDel, event.create_date)">
            &times;
          </td>
        </tr>

      </table>

    </div>

  </div>
</div>


<button class="add" (click)="modal.showModal()"> Добавить </button>

<app-modal #modal></app-modal>

<ng-template #modalDel>

      <div class="modal-body">
        <div class="close" type="button" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </div>
        <div class="info-message">
          <form action=""  (ngSubmit)="onDelete()">
            <h2>Вы действительно хотите удалить событие?</h2>

            <div class="form-group col-xs-6">
              <input class="button btn-blue form-control" type="submit" value="удалить"/>
            </div>
          </form>
        </div>

      </div>


</ng-template>
