.table-header {
  font-weight: bold;
  text-transform: uppercase;
}

.table-wrap {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid blueviolet;
  padding: 5px;
}

.green{
  color: green;
}

.red {
  color: red;
}

.add {
  margin: 30px ;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
